<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Flag_of_El_Salvador.svg/52px-Flag_of_El_Salvador.svg.png" class="d-inline-block align-text-top" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" ActiveClass="active" href="/" Match="@NavLinkMatch.All">
                        <i class="fa-solid fa-house"></i> Inicio
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" ActiveClass="active" href="/products" Match="@NavLinkMatch.All">
                        <i class="fa-solid fa-box-open"></i> Productos
                    </NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-shop"></i>&nbsp;Mi Tienda
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" Match="@NavLinkMatch.All" ActiveClass="active" href="/my-store/information">Informacion</NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="@NavLinkMatch.All" ActiveClass="active" href="/my-store/branches">Sucursales</NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-sliders"></i> Configuraciones
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="dropdown-item" Match="@NavLinkMatch.All" ActiveClass="active" href="/settings/store-departments">Departamentos</NavLink>
                        </li>
                        <li>
                            <NavLink class="dropdown-item" Match="@NavLinkMatch.All" ActiveClass="active" href="/settings/product-categories"> Categorias de Producto</NavLink>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> <span class="d-inline-block align-text-center">Fernando Ventura</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#"><i class="fas fa-sliders-h fa-fw"></i> Mi Perfil</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog fa-fw"></i> Ajustes</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-fw"></i> Cerrar Sesion</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>