@using Web.Components.Models.Shared

@if (Items.Any())
{
    <nav style="@StyleNames" aria-label="breadcrumb">
        <ol class="breadcrumb">
            @foreach(var item in Items)
            {
                if (@item.IsCurrentPage)
                {
                    <li class="breadcrumb-item active" aria-current="page">@item.Text</li>
                }
                else
                {
                    <li class="breadcrumb-item"><a href="@item.Href">@item.Text</a></li>
                }
            }
        </ol>
    </nav>
}



@code {
    [Parameter] public required IReadOnlyList<BreadcrumbItem> Items { get; set; }
    [Parameter] public string? StyleNames { get; set; }
}